
html,
body {
	background-image: url("img/e1.jfif");
  }
  
.main-wrapper {
	margin: 30px auto 0;
	width: 1080px;
	text-align: center;
}

.main-title {
	/* font-family: 'Brush Script MT', cursive; */
	text-align: center;
	font-size: 3.1em;
	color: #f1f1f1;
	text-shadow: 1px 1px 1px #000000;
}

.drum-kit-wrapper {
	position: relative;
	width: 600px;
	margin: -100px auto 0;
}

.drum-kit {
	width: 100%;
	height: 420px;
	top: 100px;
	position: relative;
}


.key {
	font-family: Georgia, serif;
	display: inline-block;
	transition: all ease-in-out .042s;
	position: absolute;
	background: #eaeaea;
    font-size: 1.5em;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid #aaa;
    color: rgb(14, 14, 14);
    box-shadow: 1px 1px 1px rgba(0,0,0,.65);
    z-index: 2;
}

.key.kick {
	top: 345px;
    right: 320px;
}

.key.kick2 {
    top: 345px;
    right: 210px;
}

.key.snare {
	right: 390px;
    top: 260px;
}

.key.tom-high {
	right: 200px;
    top: 230px;
}

.key.tom-mid {
	left: 260px;
    top: 230px;
}

.key.tom-low {
	top: 222px;
    left: 80px;
}

.key.crash {
	top: 195px;
    left: 180px;
}

.key.ride {
	left: 120px;
    top: 167px;
}

.key.hihat-open {
	right: 30px;
    top: 160px;
}

.key.hihat-close {
	right: 70px;
    top: 190px;
}


.playing {
	transform: scale(1.12);
}



















