body {
  font-family: 'Times New Roman', sans-serif;
  color:  #111111;
  background-color:#0e88a7 ;
  background-image: 'e1.jfif';
  
}
h2,h1,h4{
  color: azure;
}
body{
  background: url(e1.jfif);

      }
#quiz {
  width:  50%;
  top: 50%;
  
  margin:  150px auto;
  padding:  10px 20px 40px 20px;
  border:  1px solid #fff5f5;
  background-color: rgb(2, 2, 2);
  
}

.choices {
  margin:  10px;
  color: #fff5f5;
}
.choice {
  margin: 10px;
  color: #fff5f5;
}

#finalScore {
  text-align: center;
}

#question-title {
  font-size:  26px;
  padding: 10px;
  color: #fff5f5;
}

#next-question {
  float:  left;
  bottom: 5%;
}
.container{
  margin:100px auto;
  padding:50px;
  width:600px;
  border:5px solid rgb(228, 215, 215);
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 26, 141);
   color: white;
   text-align: center;
}